@font-face {
    font-family: 'CustomIcons';
    src: url('ruta/a/la/fuente/custom-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media only screen and (min-width: 600px){
        .col-xs-1 {width: 8.33%;}
        .col-xs-2 {width: 16.66%;}
        .col-xs-3 {width: 25%;}
        .col-xs-4 {width: 33.33%;}
        .col-xs-5 {width: 41.66%;}
        .col-xs-6 {width: 50%;}
        .col-xs-7 {width: 58.33%;}
        .col-xs-8 {width: 66.66%;}
        .col-xs-9 {width: 75%;}
        .col-xs-10 {width: 83.33%;}
        .col-xs-11 {width: 91.66%;}
        .col-xs-12 {width: 100%;}
    }
    
    /* Para tablets */
    @media only screen and (min-width: 600px){
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}   
    }
    
    /* Para escritorio */
    @media only screen and (min-width: 768px){
        .col-m-1 {width: 8.33%;}
        .col-m-2 {width: 16.66%;}
        .col-m-3 {width: 25%;}
        .col-m-4 {width: 33.33%;}
        .col-m-5 {width: 41.66%;}
        .col-m-6 {width: 50%;}
        .col-m-7 {width: 58.33%;}
        .col-m-8 {width: 66.66%;}
        .col-m-9 {width: 75%;}
        .col-m-10 {width: 83.33%;}
        .col-m-11 {width: 91.66%;}
        .col-m-12 {width: 100%;}
        
    }
    
    @media only screen and (min-width: 992px){
        .col-l-1 {width: 8.33%;}
        .col-l-2 {width: 16.66%;}
        .col-l-3 {width: 25%;}
        .col-l-4 {width: 33.33%;}
        .col-l-5 {width: 41.66%;}
        .col-l-6 {width: 50%;}
        .col-l-7 {width: 58.33%;}
        .col-l-8 {width: 66.66%;}
        .col-l-9 {width: 75%;}
        .col-l-10 {width: 83.33%;}
        .col-l-11 {width: 91.66%;}
        .col-l-12 {width: 100%;}
        
    }
    
    @media only screen and (min-width: 992px){
        .col-xl-1 {width: 8.33%;}
        .col-xl-2 {width: 16.66%;}
        .col-xl-3 {width: 25%;}
        .col-xl-4 {width: 33.33%;}
        .col-xl-5 {width: 41.66%;}
        .col-xl-6 {width: 50%;}
        .col-xl-7 {width: 58.33%;}
        .col-xl-8 {width: 66.66%;}
        .col-xl-9 {width: 75%;}
        .col-xl-10 {width: 83.33%;}
        .col-xl-11 {width: 91.66%;}
        .col-xl-12 {width: 100%;}
}



body {
    background: linear-gradient(to bottom, #Fd287d, #ff5864, #FF655b);
    font-family: Arial, sans-serif;
    color: #f9fdfd;
    margin: 0;
    padding: 0;
    text-align:center;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
     z-index: 999; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 20%;
    height: 100vh;
    transition: left 0.3s;
    z-index: 2;
    background-color: #fff;
    display: none;
    z-index: 999
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu-item .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.menu-item:hover .submenu {
    display: block;
}

.mobile-menu li {
    margin: 10px 0;
}

.page-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.text-center {
    text-align: center;
    margin-top: 10px;
}

.menu {
    text-align: left;

}
.video-link::before {
    content: "\f03d"; 
    font-family: FontAwesome; 
    margin-right: 05px;
}

#menu li:hover .submenu {
    display: block;
}

.container,
.menu,
.content {
    box-shadow: none 
}
label {
    color: rgb(252, 247, 247); /
  }
  
  
  input[type="text"],
  input[type="email"] {
    color: #030001; 
  }
  
  
  button {
    color: #0000ff; 
  }
  
.material-symbols-outlined {
    font-family: 'MaterialSymbolsOutlined', sans-serif;
    font-size: 24px; 
   
}
p i {
    font-size: 24px; 
    margin: 0 10px;
}

.slider {
    position: center;
    top: 31; 
    left: 31%; /
    transform: translate(-50%, -10%); 
    width: 500px; 
    height: 200%; 
    background-color: rgb(8, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
}
.slider img {
    max-width: 100%; 
    display: block; 
    margin-bottom: 10px;
    
}
.polaroid-card {
    background-color: rgb(14, 1, 1); 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bio-description {
    text-align: center;
    margin-top: 10px;
    font-size: 16px; 
    color: #f1f1f11f16e6; /
}

.button {
    background-color: #ff69b4;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #0e0108;
}


a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    position: fixed;
    top: 120%; 
        left: 120%; 
   
}

p {
    font-size: 20px;
    line-height: 1.5;
}

p1 {
    font-size: 18px;
    line-height: 1.5;
    color: #BFC9CA;
    font-weight: bold;
}

form {
    background-color: #050101;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 1px rgba(248, 246, 246, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-label {
    display: inline-block;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005cbf;
}


.item {
    text-align: center;
}


.item p {
    font-size: 16px;
    margin-top: 10px;
}

footer {
    color: #fff;
    padding: 50px;
    text-align: center;
    
   
}

.icon.footer {
    display: inline-block;
    margin-right: 10px;
 
}

.icon.footer img {
    vertical-align: middle;
    
}



h1 {
    text-align: center;
    color: #333;
}


.product-list {
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.product-name {
    flex: 1;
    font-weight: bold;
}

.product-price {
    flex: 1;
    text-align: right;
    color: #ff69b4;
}

#carrito {
    list-style: none;
    padding: 0;
}

#carrito li {
    margin-bottom: 5px;
}

#total {
    font-weight: bold;
}


button {
    background-color: #ff69b4;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4081;
}


#comprar-btn {
    background-color: #0078d4;
}

#comprar-btn:hover {
    background-color: #005cbf;
}
